__pycache__
data
venv
.task
*.pyc
*.pkl
*.log
*.tmp
*.aux
*.out
*.fls
*.fdb_latexmk
*.bbl
*.blg
.*.swp
*.tex~
*.synctex.gz
paper/icml25/first/main.pdf
paper/ecai25/main.pdf
paper/camera/main.pdf
paper/camera/appendix.pdf
paper/camera/m6464.pdf
